<html>
    <head>
        <title>New Blog</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <header>
        <a href="/blog">Main Blog Page</a>
        <a href="/newpost">Add a Blog Entry</a>
    </header>

    <body>
        <h1 id="pageTitle">Add A Blog Entry</h1>
        <form method="post">
            {%if feedback %}
            <span><h2>{{ feedback }}</h2></span>
            <label for="title">Title for your new blog:</label>
            <input type="text" name="title" id="title" value="{{ title }}">
            <br><br>
            <label for="body">Your new blog:</label>
            <textarea name="body" id="body" value="">{{ body }}</textarea>
            <br><br>
            <button type="submit">Submit</button>
            {% else %}
            <label for="title">Title for your new blog:</label>
            <input type="text" name="title" id="title">
            <br><br>
            <label for="body">Your new blog:</label>
            <textarea name="body" id="body"></textarea>
            <br><br>
            <button type="submit">Submit</button>
            {% endif %}
        </form>
    </body>

</html>

